<section class="content-page task-page comments-page">
<header class="page-heading"><button type="button" class="secondary-action" onclick="page('gamebanana-browse')" data-i18n="ui_back">$$ui_back$$</button><h1>Comments</h1></header>
<div class="comments">
    <div class="commentBox" style="display: none;" id="myCommentBox">
        <img src="" alt="" width="50" height="50" id="gbPic">
        <div class="commentArea">
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" maxlength="10000" required rows="6" placeholder="Type your comment here..." aria-label="Comment text"></textarea>

            <button type="button" onclick="window.currentPageStack.send()" id="sendBtn">Send comment</button>
        </div>
    </div>
</div>
</section>
STYLESHEET[comments]
JSL
TITLE[Comments]
