<div class="content-page mods-page">
    <div class="spacebet">
        <div class="p1">
            <h1 id="ptitle" style="margin-bottom: 5px;">$$main_title$$</h1>
            <span style="display: flex; justify-content: left; align-items: center; gap: 10px; margin-bottom: 10px;">
                <label for="sortWay">
                    $$sortBy$$
                </label> <select name="sortWay" id="sortWay" style="width: 130px !important; margin: 0;">
                    <option value="asc">$$sort_asc$$</option>
                    <option value="desc">$$sort_desc$$</option>
                    <option value="size-asc">$$sort_sizeAsc$$</option>
                    <option value="size-desc">$$sort_sizeDesc$$</option>
                    <option value="author">$$sort_author$$</option>
                </select>
            </span>
        </div>
        <div class="p2">
            <button onclick="window.electronAPI.invoke('importMod',[])" id="importModBtn" title="Import a mod package" aria-label="Import a mod package">
                <span class="material-symbols-outlined">
                    add_box
                </span>
            </button>
            <button onclick="window.currentPageStack.patchAndRun()" id="par" title="Apply selected mods and launch" aria-label="Apply selected mods and launch">
                <span class="material-symbols-outlined">
                    arrow_circle_right
                </span>
            </button>
        </div>
    </div>
    <div class="mods-scroll">
        <div style="display: none;" class="modlist-error" id="error-banner">
            <h2>$$modFail_bannerTitle$$</h2>
            <span class="calibri">$$modFail_bannerClick$$</span>
        </div>
        <table id="modtable">
            <colgroup>
                <col style="width: 85%;">
                <col style="width: 15%;">
            </colgroup>
            <thead style="position: sticky; top: -2px;">
                <tr>
                    <th>$$mod$$</th>
                    <th>$$enabled$$</th>
                </tr>
            </thead>
            <tbody id="modlist">
            </tbody>
        </table>
    </div>

        <dialog class="error-list-dialog" id="error-list-dialog">
            <h2>$$modFail_dialogTitle$$</h2>
            <span class="calibri">$$modFail_dialogSubtitle$$</span>
            <div class="error-list-div" id="error-list-div">

            </div>
            <div class="error-buttons">
                <!-- forgive me for this MASSIVE onclick thing, but keeping this and allmods unified is a pain in the ass -->
                <button onclick="rew(); document.getElementById('error-list-dialog').style.animation = '0.3s closeError ease forwards'; setTimeout(() => { document.getElementById('error-list-dialog').close(); document.getElementById('error-list-dialog').style.animation = '0.3s openError ease forwards'; }, 300);" style="width: 100%; padding: 10px;">OK</button>
            </div>
        </dialog>
</div>
JSL
AUDIO[mainTheme.mp3]
STYLESHEET[main]
TITLE[$$main_title$$]
