<div class="content-page task-page export-page">
    <header class="page-heading"><h1>Choose which mods to export</h1><p>Only supported GameBanana mods can be saved to this collection.</p></header>
    <table>
        <colgroup>
            <col style="width: calc(100% - 100px);">
            <col style="width: 100px;">
        </colgroup>
        <thead>
            <tr>
                <th>Mod</th>
                <th>Export?</th>
            </tr>
        </thead>
        <tbody id="mod-list" aria-busy="true"></tbody>
    </table>
    <br>
    <div class="task-actions alignRight">
        <button class="secondary-action" type="button" onclick="page('collections')" data-i18n="ui_back">$$ui_back$$</button>
        <button onclick="window.currentPageStack.exportMods()" id="export-btn" disabled>Export</button>
    </div>
</div>
JSL
TITLE[Choose which mods to export]
STYLESHEET[index]