<section class="content-page task-page download-page">
    <header class="page-heading"><img src="./img/banana-outline.png" width="36" height="36" alt=""><h1>Downloading from GameBanana</h1><p>Deltamod Community is downloading your mod package.</p></header>
    <div class="download-progress"><label for="up" data-i18n="ui_progress">$$ui_progress$$</label><output id="download-percent" for="up"></output><progress id="up" max="100" aria-label="$$ui_progress$$"></progress></div>
</section>
STYLESHEET[autoupdate]
NO-SIDEBAR
TITLE[Downloading from GameBanana]
JSL
